/* CSS for Checkout Summary */
.card {
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

.card-body {
    padding: 30px;
    background-color: #fff;
}

.alert-light {
    background-color: #f8f9fa;
    border-color: #e2e6ea;
    color: #555;
    margin-bottom: 20px;
}

.list-group-item {
    border: none;
    padding: 10px 0;
    font-size: 16px;
}

.list-group-item b {
    font-weight: bold;
}

.form-control {
    width: 38%; 
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
}

.form-select {
    width: calc(25% - 5px); /* Adjusted width for side by side layout */
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    display: inline-block; /* Display inline to place them side by side */
}

.btn-warning {
    color: #fff;
    background-color: #ffc107;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-warning:hover {
    background-color: #ffca2b;
}
